In [1]:
import pandas as pd

In [4]:
df = pd.read_json('datos2.json')

In [5]:
df

                               Calificaciones
0    {'nombre': 'Juilio Banega', 'notas': 87}
1      {'Nombre': 'Ariana Ruiz', 'notas': 67}
2    {'nombre': 'Martin lutero', 'notas': 78}
3    {'nombre': 'milton duarte', 'notas': 68}
4       {'nombre': 'Lesly diaz', 'notas': 79}
5     {'nombre': 'Mario Juarez', 'notas': 70}
6  {'nombre': 'wanda Rodriguez', 'notas': 98}
7  {'nombre': 'Kenia Rodriguez', 'notas': 73}
8   {'nombre': 'nicol Martinez', 'notas': 75}