In [1]:
import pandas as pd

In [14]:
datos1 =pd.DataFrame({
    'Nombre':[ 'Juan', 'Laura','Luis','JOSE','Maria','Nicol','Mauricio'],
    'Notas':[86, 78,75,69,67,78,93],
    'Clase':['POO','Vectores','Diseño','industria' 'Mate','Gerencia','Dibujo1','Auditoria']

  
})



print(datos1)

     Nombre  Notas          Clase
0      Juan     86            POO
1     Laura     78       Vectores
2      Luis     75         Diseño
3      JOSE     69  industriaMate
4     Maria     67       Gerencia
5     Nicol     78        Dibujo1
6  Mauricio     93      Auditoria

In [15]:
datos2 =pd.DataFrame({
    'Nombre':[ 'Juan', 'Laura','Luis','JOSE','Maria','Nicol','Mauricio'],
    'Promedio':[86, 78,75,69,67,78,93],
    'Periodo':[1,2,3,1,2,3,2]

  
})



print(datos2)

     Nombre  Promedio  Periodo
0      Juan        86        1
1     Laura        78        2
2      Luis        75        3
3      JOSE        69        1
4     Maria        67        2
5     Nicol        78        3
6  Mauricio        93        2

In [16]:
datos2.query('Promedio==75')

  Nombre  Promedio  Periodo
2   Luis        75        3

In [17]:
datos2.query('Periodo==1')

  Nombre  Promedio  Periodo
0   Juan        86        1
3   JOSE        69        1

In [18]:
Media=datos2['Promedio'].mean()
Media

78.0