In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('datos1.csv', delimiter=',')

In [11]:
df

                  Periodo;Nombre;Clase;Seccion
0             1;Julio Banegas;Programacion;700
1                  1;Ariana Ruiz;Dibujo 1;1001
2                2;Mantin Lutero;Gerencia;1101
3  3;Milton Duarte;Sistema de infromacion;1000
4                   1;Lesly  Diaz;Redes 1;1200
5                   2;Mario Juarez;Bases 2;700
6    3;Wanda Rodriguez;Algoritmo de datos;1300
7         1;Kenia Rodriguez;Matematicas 1;1401
8                   2;Nicol  Martinez;POO;1600