In [1]:
import pandas as pd

In [20]:
df=pd.read_csv('datos1.csv', delimiter=',')

In [26]:
df

                  Periodo;Nombre;Clase;Seccion
0             1;Julio Banegas;Programacion;700
1                  1;Ariana Ruiz;Dibujo 1;1001
2                2;Mantin Lutero;Gerencia;1101
3  3;Milton Duarte;Sistema de infromacion;1000
4                   1;Lesly  Diaz;Redes 1;1200
5                   2;Mario Juarez;Bases 2;700
6    3;Wanda Rodriguez;Algoritmo de datos;1300
7         1;Kenia Rodriguez;Matematicas 1;1401
8                   2;Nicol  Martinez;POO;1600

In [19]:
df1=pd.read_json('datos2.json')

In [21]:
pd.merge(df, df1, left_index=True, right_index=True)

,Periodo;Nombre;Clase;Seccion,Calificaciones
0,1;Julio Banegas;Programacion;700,"{'nombre': 'Juilio Banega', 'notas': 87}"
1,1;Ariana Ruiz;Dibujo 1;1001,"{'Nombre': 'Ariana Ruiz', 'notas': 67}"
2,2;Mantin Lutero;Gerencia;1101,"{'nombre': 'Martin lutero', 'notas': 78}"
3,3;Milton Duarte;Sistema de infromacion;1000,"{'nombre': 'milton duarte', 'notas': 68}"
4,1;Lesly Diaz;Redes 1;1200,"{'nombre': 'Lesly diaz', 'notas': 79}"
5,2;Mario Juarez;Bases 2;700,"{'nombre': 'Mario Juarez', 'notas': 70}"
6,3;Wanda Rodriguez;Algoritmo de datos;1300,"{'nombre': 'wanda Rodriguez', 'notas': 98}"
7,1;Kenia Rodriguez;Matematicas 1;1401,"{'nombre': 'Kenia Rodriguez', 'notas': 73}"
8,2;Nicol Martinez;POO;1600,"{'nombre': 'nicol Martinez', 'notas': 75}"